.card {
    border-width: 1px; 
    border-color: black;
    border-style: solid;
    padding: 10px
}

.title {
    font-size: x-large;
    font-weight: bolder;
    font-style: oblique;
    color: #009ddc;
}