.screen {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.screen-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    width: 100%;
    max-width: 600px;
}

.screen-title {
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
}

.screen-form-title {
    font-weight: bolder;
}

.screen-form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen-form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input {
    margin: auto;
    width: 90%;
}