.screen {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
    width: 100%;
}

.screen-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    width: 100%;
    max-width: 600px;
}

.screen-title {
    font-weight: bolder;
}

.screen-body-title {
    font-weight: bolder;
    color: #009ddc;
}

.screen-body {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen-body-content {
    width: 100%;
    align-items: center;
    display: flex; 
    flex-direction: column;
}

.screen-game-board {
    flex-direction: row;
    display: flex;
    width: 90%;
    margin-top: 20px;
    flex-grow: 1;
}

.screen-scores {
    display: flex; 
    flex-direction: row; 
    flex-grow: 1; 
    margin: 10
}

input {
    margin: auto;
}